*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    background: #1e2227;
    color:#fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    background: #1e2227;
    z-index: 1;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.nav-icons img{
    width: 25px;
    margin-left: 30px;
    cursor: pointer;
}
 
.row{
    height: 100%;
    width: 1000%;
    display: flex;
    background-color: cadetblue;
}
/*.col-1, .col-2{
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}*/
/*.col-2{
    background: red;
    right: 0;
}*/
 
.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 0;
    top: 0;
    overflow-x: hidden;
    padding: top 20px; 
}
.left{
    left: -50;
    padding-left: 8%
    }
.left h1{
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}
.left h2{
    font-size: 35px;
    margin-top: 60px;
    font-weight: 500;
}

.right{
    right: 0;
    background: red;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
button{
    display: inline-block;
    width: fit-content;
    padding: 18px 50px;
    background: red;
    border: none;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;

}

